{% load static %}
<link rel="shortcut icon" href="{% static 'src/img/favicon.png' %}">
<link rel="shortcut icon" href="{% static 'src/img/man.png' %}">
<link rel="shortcut icon" href="{% static 'src/img/logo.png' %}">
<link rel="shortcut icon" href="{% static 'src/img/sms.png' %}">
    <!-- Icons -->
<link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
<link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
<link href="{% static 'src/css/form.css' %}" rel="stylesheet">
<link href="{% static 'src/css/style.css' %}" rel="stylesheet">
<link href="{% static 'src/css/style.min.css' %}" rel="stylesheet">


<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>



            <!-- Administration Section Start -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    Administration</a>
            
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'designation' %}">
                         <i class="fa fa-plus-circle"></i>Add Designation</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'district' %}">
                         <i class="fa fa-plus-circle"></i>Add District</a>
                 </li>
            
             
           </li>



           <!-- Administration Section END -->

           <!-- Academic Section START -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Academic</a>
            
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-department' %}">
                      <i class="fa fa-plus-circle"></i>Add Department</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-class' %}">
                      <i class="fa fa-plus-circle"></i>Create Class</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-section' %}">
                      <i class="fa fa-plus-circle"></i>Create Section</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-session' %}">
                      <i class="fa fa-plus-circle"></i>Create Session</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'create-shift' %}">
                      <i class="fa fa-plus-circle"></i>Create Shift</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'guide-teacher' %}">
                      <i class="fa fa-plus-circle"></i>Guide Teacher</a>
              </li>
            
          </li>
          <!-- Academic Section END -->

           <!-- Teacher Section START -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
Teacher</a>
            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-registration' %}">
                        <i class="fa fa-plus-circle"></i>Teacher Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teacher-list' %}">
                        <i class="fa fa-list"></i>Teacher List</a>
                </li>
           
          </li>
          <!-- Teacher Section END -->

            <!-- Class Section START -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    Class</a>
          
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'class-registration' %}">
                       <i class="fa fa-plus-circle"></i>Class Registration</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'class-list' %}">
                       <i class="fa fa-list"></i>Class List</a>
               </li>
           
           </li>
           <!-- Class Section END -->

            <!-- Student Section START -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    Student</a>
             
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-registration' %}">
                         <i class="fa fa-plus-circle"></i>Student Registration</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-list' %}">
                         <i class="fa fa-list"></i>Student List</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'student-search' %}">
                         <i class="fa fa-search-plus"></i>Student Search</a>
                 </li>
            
           </li>
           <!-- Student Section END -->

           <!-- Enroll Student Section START -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Enroll Student</a>
            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'enrolled-student' %}">
                        <i class="fa fa-plus-circle"></i>Student Enrolled</a>
                    <a class="nav-link" href="{% url 'enrolled-student-list' %}">
                        <i class="fa fa-list"></i>Enrolled Student List</a>
                </li>
           
          </li>
          <!-- Enroll Student Section END -->

           <!-- Employee Section START -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Employee</a>
           
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee-registration' %}">
                        <i class="fa fa-plus-circle"></i>Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee-list' %}">
                        <i class="fa fa-list"></i>Employee List</a>
                </li>
         
          </li>
          <!-- Employee Section END -->

          <!-- Result Section START -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                Result</a>
           
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'add-subject' %}">
                       <i class="fa fa-plus-circle"></i>Add Subject</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'subject-list' %}">
                       <i class="fa fa-list"></i>Subject List</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'mark-entry' %}">
                       <i class="fa fa-plus-circle"></i>Mark Entry</a>
               </li>
           
         </li>
         <!-- Result Section END -->

         <!-- Attendence Report Section START -->
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Attendence Report</a>
          
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'student-attendance' %}">
                      <i class="fa fa-plus-circle"></i>Student Attendence</a>
              </li>
       
        </li>
        <!-- Attendence Report Section END -->

       <!-- Holiday Section START -->
       
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Holiday</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-puzzle"></i>Student List</a>
            </li>
      
      </li>
      <!-- Holiday Section END -->

        <!-- Event Section START -->
       
         <a class="nav-link nav-dropdown-toggle" href="#">
             <i class="nav-icon icon-puzzle"></i>Event</a>
         <ul class="nav-dropdown-items">
             <li class="nav-item">
                 <a class="nav-link" href="#">
                     <i class="nav-icon icon-puzzle"></i>Student List</a>
             </li>
         
       </li>


       
       <!-- Event Section END -->

        <!-- User-Manual Section START -->
        <li class="nav-item nav-dropdown">
         <a class="nav-link" href="#">
             <i class="nav-icon icon-puzzle"></i>User-Manual</a>
       </li>
       <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
